Flask==1.1.2
gensim==4.0.1
highlight_text==0.2
ipython==8.0.1
joblib==1.0.1
lime==0.2.0.1
matplotlib==3.4.2
nltk==3.6.6
numpy==1.21
pandas==1.2.3
scikit_learn==1.0.2
scipy==1.6.2
seaborn==0.11.1
shap==0.40.0
simpletransformers==0.61.9
xgboost==1.4.2